.proyectos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
}
.card{
    width: 300px;
    height: 450px;
    position: relative;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1),
                inset -5px -5px 5px rgba(255, 255, 255, 0.8),
                 5px 5px 5px rgba(0, 0, 0, 0.1),
                 -5px -5px 5px rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    margin: 30px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cartaproyecto{
    width: 90%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    color: #000;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    position: relative;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.473);
    overflow: hidden;
    border-radius: 20px;
    background: #e0e0e0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.cartaimagen{
    width: 100%;
    height: 220px;
    
        &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom:2px solid orangered;
    }
}
.cartabotones{
    position: absolute;
    top: 50%;
    right:  0;
    animation: botondesliza 2s linear infinite;
    -webkit-animation: botondesliza 2s linear infinite;
    
}
@keyframes botondesliza {
    0%{
       
        transform: translateX(90%);
        -webkit-transform: translateX(90%);
        -moz-transform: translateX(90%);
        -ms-transform: translateX(90%);
        -o-transform: translateX(90%);
        
}
    50%{
       
        transform: translateX(70%);
        -webkit-transform: translateX(70%);
        -moz-transform: translateX(70%);
        -ms-transform: translateX(70%);
        -o-transform: translateX(70%);
       
} 100%{
    
        transform: translateX(90%);
        -webkit-transform: translateX(90%);
        -moz-transform: translateX(90%);
        -ms-transform: translateX(90%);
        -o-transform: translateX(90%);
        
}
}
.cartaproyecto:hover .cartabotones{
    animation: unset;
    transform: translateX(0);
    transition: transform .6s ease-out;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-animation: unset;
}
.cartabotones__btn{
   
    font-size: 1.1em;
    text-decoration: none;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    align-items: flex-end;
    color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px ;
}
.cartadescripcion{
    padding: 5px;
    text-align: center;
    font-weight: 300;
}
.cartalogo{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

        &__logo{
            width: 40px;
            height: 40px;
            object-fit: cover;
            margin-left: 10px;
        }
        &__hecho{
            width: 100%;
            margin-left: 10px;
        }
}
.textdegrade2{
    background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-weight: 800;

-webkit-text-fill-color: transparent;
background-clip: text;
}