.secFooter{
    width: 100%;
    padding: 15px;
    border-top: 5px solid orangered;
    margin-top: 20px;
    background-color: rgba(9, 13, 16, 0.88);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footerlogoinfo{text-align: center;}
.logonombre{display: flex; justify-content: flex-start; align-items: center;}
.footerimg{
    width: 65px;
    height: 65px;
    margin: 10px;
        &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}
.footerempresa{
    font-size: 1.4em;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.842);
}
.footereslogan{
    color: rgba(255, 255, 255, 0.842);
    font-size: .9em;
    font-weight: 300;
    line-height: 1.3;
}

.columnasfooter{
    align-self: flex-start;
    margin: 0 0 0 20px;
}
.infofooter__titulo{
    color: rgba(255, 255, 255, 0.842);
    font-weight: 700;
    font-size: 1.2em;
}
.infofooterlist{
    list-style: none;
}
.infofooterlistanclas{
    margin: 12px 0;
        &__ancla{
            color: rgba(255, 255, 255, 0.842);
            font-size: .8em;
            font-weight: 300;
            text-decoration: none;
            
        }
}

.copy{
    position: relative;
    font-size: 1em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.842);
    margin-top: 15px;
    width: 100%;
    text-align: center;
        &::after{
            position: absolute;
            top: -10px;
            left: 0;
            margin: auto;
            content: '';
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.651);
        }
}
.infofooterlistanclas__ancla:hover{
    text-decoration: underline;
    color: orangered;
}

.redescont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
.redesitems{
    width: 30px;
    height: 30px;
    margin: 10px;
        &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}