
@media screen and (min-width: 720px){
    .proyectoimagen{
        width: 65%;
    }
    .errorpageinfo__titulo{
        width: 70%;
    }
    .contenedorHome__nombre{
        font-size: 5em;
        line-height: 2;
    }
    .contenedorHome__titulo{
        font-size: 2.5em;
    }
    .contenedorHome__parrafo{
        width: 70%;
        font-size: 1.3em;
        line-height: 1.3;
    }
    .contenedorHome__btn{
        width: 180px;
    }
    .menuAnclas__anclas {
        font-size: 4em;
    }
    .serviciosInfo__titulo{
        font-size: 1.5em;
    }
    .webinfo__parrafo,.listaDesarrollo > li{
        font-size: 1.2em;
    }
    .webinfo__titulo{
        font-size: 1.5em;
    }
    .planes-flex{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
    }
    .footer-flex{
        display: flex;
        width: 100%;
    }
    .footerlogoinfo{width: 50%;}
    .columnasfooter{
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
    .cerrarForm{width: 60%;}
    .grupoform__cerrar {
        width: 50px;
        height: 50px;
    }
    .grupoform__titulo{
        font-size: 1.2em;
    }
    .grupoform__input,#tipopage, #plan{height: 45px;}
    .proyectotexto__titulo{font-size: 3em;}
    .proyectotexto__descripcion {font-size: 1.5em;}
    .proyectobotones__btn{width: 165px; padding: 15px; font-size: 1.2em;}
    .proyectos__titulo{font-size: 2em;}
    .proyectos{grid-template-columns: repeat(2,1fr);}
    .proyectoinicio {padding: 30px;}
    .card{
        height: 455px;
    }
    .cartaproyecto{height: 95%;}
    .proyectoboton{width: 55%;}
    .proyectoboton::before{
        width: 110%;
        height: 660%;
    }
    .iniciarproyectoinfo__titulo{
        font-size: 2em;
    }
    .iniciarproyectoinfo__desc{font-size: 1.1em;}
    .contenedorServicio{
        width: 90%;
        height: 230px;
    }
}

@media screen and (min-width: 1024px){
    .errorpage__img{
        width: 30%;
    }
    .errorpage{
        flex-direction: row;
    }
    .mensajeError{font-size: 3.5em;}
    .errorpageinfo__titulo{font-size: 2em;}
    .menuAnclas__anclas{font-size: 3em;}
    .proyectoboton::before {
        width: 121%;
        height: 892%;}
        .cartatexto{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }

}

@media screen and (min-width: 1280px){
    .proyectoimagen__img{
        width: 50%;
        margin: auto;
    }
    .contenedorMenu{
        width: 100%;
    }
    .contenedorIconoMenu {width: 50%;}
    .iconoMenu{display: none;}
    .menuAnclas__anclas{font-size: 1.4em;
        border-bottom: 2px solid transparent;
    &:hover{
        border-bottom: 2px solid orangered;
    }}
    .menuAnclas__anclas:before{
        font-size: .9em;
    }
    .contenedorAnclas, .menuItems{
        width: 100%;
        background-color: unset;
        height: unset;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: static;
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
}
    .eligetuplan{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        &__img{
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
    }
    .cartadescripcion__desc{
        font-size: 1.2em;
    }
    .cartadescripcion__titulo{
        font-size: 1.5em;
    }
    .proyectos{grid-template-columns: repeat(3,1fr);}
    .proyectotexto__titulo {
        font-size: 5em;
    }.proyectotexto__descripcion {
        font-size: 1.8em;
    }
    .proyectoinicio, .proyectotitulos, .proyectobotones{
        width: 80%;
        justify-content: space-around;
        margin: auto;
    }
    .proyectoboton{
        width: 35%;
    }
    .card{
        width: 80%;
        height: 550px;
    }
    .infoWeb, .infoWeb.row-reverse{
        border: none;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin: 50px 0;
        padding: 20px 0;
    }
    .webinfo{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .infoWeb.row-reverse{
        flex-direction: row;
    }
    .infoWeb.row-reverse .webimagen{
        width: 35%;
    }
    .infoWeb.row-reverse .webinfo{
        width: 50%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

    }
    .webinfo{
        background-color: rgba(226, 225, 225, 0.938);
        padding: 30px;
        width:50%;
    }
    .webimagen{
        width: 35%;
        height: 500px;
        margin: 30px;
    }
    .planesInfo__titulo{
        font-size: 3em;
    }
    .planesInfo__sub{
        font-size: 1.1em;
    }
    .contenedorplan{
        width: 315px;
        height: 500px;
    }
    .contenedorplanInfo__titulo,.contenedorplanboton__btn{
        font-size: 1.3em;
    }
    .contenedorplanInfo__precio{
        font-size: 1.7em;
    }
    
    .contenedorHome__nombre{
        font-size: 6em;
    }
    .contenedorHome__titulo{
        font-size: 3em;
    }
    .contenedorHome__parrafo{
        font-size: 1.3em;
    }
    .contenedorHome__btn{
        width: 200px;
        height: 50px;
    }
    .Servicios{
        flex-direction: row;
    }
    .contenedorServicio{
        width: 90%;
        height: 260px;
        margin: 10px 10px;
    }
    .modalform{
        width: 50%;
        height: 600px;
    }
    .contenedorhome-flex,.contenedorhometitulo-flex{
        width: 50%;
    }
    .contenedorHome{
        flex-direction: row;
    }
    .contenedorHome__btn{
        margin: 0 auto;
    }
    .proyectoboton::before {
        width: 121%;
        height: 1050%;}

}

