.infoHome{
    width: 100%;
    overflow: hidden;
    height: 100vh;
    background-image:url("https://github.com/NicolasComba2001/web/blob/gh-pages/fondohome/fondohome.jpg?raw=true");
    background-size: cover;
    background-position: center;
    position: relative;
}

.contenedorhome-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
}
.contenedorHome{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
        &__nombre{
            font-size: 3em;
            color: rgb(0, 0, 0);
            line-height: 3;
            font-weight: 900;
            background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-weight: 800;

-webkit-text-fill-color: transparent;
background-clip: text;
        }
        &__titulo{
            font-size: 1.5em;
            line-height: 2;
            font-weight: 600;
            white-space: nowrap;
            display: block;
            width: 19ch;
            animation: tipado 2s steps(19);
            -webkit-animation: tipado 2s steps(19);
            overflow: hidden;
}
        &__parrafo{
            font-size: 1em;
        }
        &__btn{
            width: 150px;
            height: 45px;
            background-color: rgba(0, 0, 0, 0.904);
            color: #fff;
            font-size: 1.1em;
            padding: 10px;
            text-align: center;
            border: none;
            outline: none;
            margin: 10px auto;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            overflow: hidden;
            animation: pulse 1.5s linear infinite;
            box-shadow: 0 0 0 1em rgba(0, 0, 0, 0);
            -webkit-animation: pulse 1.5s linear infinite;
            cursor: pointer;
            position: relative;
            display: block;
            &::before{
                content: attr(data-content);
                position: absolute;
                display: flex;
            justify-content: center;
            align-items: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: rgb(255, 255, 255);
                background-color: rgba(0, 0, 0, 0.904);
                opacity: 0;
                transform: scale(5);
                transition: transform   .5s, opacity .5s;
                -webkit-transform: scale(5);
                -moz-transform: scale(5);
                -ms-transform: scale(5);
                -o-transform: scale(5);
                text-align: center;
        }
        &:hover::before{
            opacity: 1;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
        }
    }
}
@keyframes pulse {
    0%{box-shadow: 0 0 rgba(0, 0, 0, 0.801);}
}
@keyframes tipado {
    from {width: 0;}
}