.errorpage{
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        &__img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
}
.errorpageinfo{
    height: 150%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        &__titulo{
            font-size: 1.5em;
            line-height: 1.5;
            font-weight: 600;
            text-align: center;
         
        }
        &__enlace{
            padding: 10px;
            margin: 10px 0;
            text-align: center;
            background-color: rgba(95, 158, 160, 0.904);
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            color: #000;
            text-decoration: none;
            transition: transform .6s ease-out;
            overflow: hidden;
            position: relative;
            transition: .5s ease-out;
            -webkit-transition: .5s ease-out;
            -moz-transition: .5s ease-out;
            -ms-transition: .5s ease-out;
            -o-transition: .5s ease-out;
            &:hover{
                box-shadow: 0 0 6px 3px white;
                transition: transform .6s ease-out;
                transform: translateY(-3px);
                -webkit-transform: translateY(-3px);
                -moz-transform: translateY(-3px);
                -ms-transform: translateY(-3px);
                -o-transform: translateY(-3px);
                -webkit-transition: transform .6s ease-out;
                -moz-transition: transform .6s ease-out;
                -ms-transition: transform .6s ease-out;
                -o-transition: transform .6s ease-out;
        }
        &::after{
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            left: 0;
            background-color: transparent;
            z-index: -1;
            top: 50%;
                height: 30%;
                background-color: #ffffff;
                transform: rotate(45deg) translateY(650%);
                transition: background-color 0.4s;
                -webkit-transition: background-color 0.4s;
                -moz-transition: background-color 0.4s;
                -ms-transition: background-color 0.4s;
                -o-transition: background-color 0.4s;
        }
       
        &:hover::after{
            transition: background-color .4s, transform .6s;
    transform: rotate(45deg) translateY(-700%);
        }
    }
}
.mensajeError{
    font-size: 2.5em;
}
.mensaje404{
    font-size: 4em;
    color: red;
}